<h1>Wing Orders</h1>

<div class=".wing_orders">
<%  @wing_orders.each do |wing_order| %>
  <div class=".wing_order">
    <h2><%= wing_order.customer_name %></h2>
    <p><%= wing_order.city %></p>
    <p>Quantity: <%= wing_order.quantity %></p>
    <p>Include Ranch Dressing? <%= wing_order.ranch_dressing ? "Yes" : "No" %></p>
  </div>
  <hr />
<% end %>
</div>

<%= link_to "New Order", new_wing_order_path %>
